@page "/car/{licensePlate}"

<div class="col">
    <div class="card row">
        <div class="card-body">
            <h2 class="card-title">@LicensePlate</h2>
            @if (CarStatistic != null)
            {
                <div class="row">
                    <div class="col">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Avg. Distance: @CarStatistic.AvgDistance.ToString("N0") km</li>
                            <li class="list-group-item">Total Distance: @CarStatistic.TotalDistance.ToString("N0") km</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Avg. Cost: @CarStatistic.AvgCost.ToString("N2") €</li>
                            <li class="list-group-item">Total Cost: @CarStatistic.TotalCost.ToString("N2") €</li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>

    <AddEntryComponent LicensePlate="@LicensePlate" />

    @if (RefuelEntries != null && RefuelEntries.Count > 0)
    {
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Distance</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var refuelEntry in RefuelEntries.Items)
                    {
                        <tr>
                            <th scope="row">@refuelEntry.Date.ToShortDateString()</th>
                            <td>@refuelEntry.Amount.ToString("N2") l</td>
                            <td>@refuelEntry.Cost.ToString("N2") €</td>
                            <td>@refuelEntry.Distance.ToString("N0") km</td>
                        </tr>
                    }
                </tbody>
            </table>
            <PaginatorComponent PagingParams="@PagingParams" PagingResult="@RefuelEntries" OnPagingChanged="@PagingChanged" />
        </div>
    }
</div>