@page "/car/{licensePlate}"

<div class="col">
    <div class="row">
        <h3>@LicensePlate</h3>
    </div>
    @if (CarStatistic != null)
    {
        <div class="row">
            <div class="card w-100">
                <div class="card-header">
                    Statistics
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <h5 class="col">Distance</h5>
                            <div class="col">
                                <div class="row justify-content-around">
                                    <div>Total:</div>
                                    <div>@CarStatistic.TotalDistance.ToString("N0") km</div>
                                </div>
                                <div class="row justify-content-around">
                                    <div>Average:</div>
                                    <div>@CarStatistic.AvgDistance.ToString("N0") km</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <h5 class="col">Cost</h5>
                            <div class="col">
                                <div class="row justify-content-around">
                                    <div>Total:</div>
                                    <div>@CarStatistic.TotalCost.ToString("N2") €</div>
                                </div>
                                <div class="row justify-content-around">
                                    <div>Average:</div>
                                    <div>@CarStatistic.AvgCost.ToString("N2") €</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    }

    <div class="row">
        <AddEntryComponent LicensePlate="@LicensePlate" />
    </div>

    @if (RefuelEntries != null && RefuelEntries.Count > 0)
    {
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Distance</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var refuelEntry in RefuelEntries.Items)
                    {
                        <tr>
                            <th scope="row">@refuelEntry.Date.ToString("dd.MM.yy")</th>
                            <td>@refuelEntry.Amount.ToString("N2") l</td>
                            <td>@refuelEntry.Cost.ToString("N2") €</td>
                            <td>@refuelEntry.Distance.ToString("N0") km</td>
                        </tr>
                    }
                </tbody>
            </table>
            <PaginatorComponent PagingParams="@PagingParams" PagingResult="@RefuelEntries" OnPagingChanged="@PagingChanged" />
        </div>
    }
</div>